*{
  margin:0;
  box-sizing: border-box;
}
body{
  color:;
}
@font-face { font-family: BasicSans; src: url('../Fonts/basicsanssf.ttf'); }
.container{
  background-color: white;
  width: 85vw;
  height: 150vh;
  font-family: BasicSans;
  margin:auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
  grid-template-rows: .3fr auto .6fr .3fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas: "hd hd hd"
                       "sidebar main main"
                       "info info anoun"
                       "footer footer footer";
}
header {
  display: flex;
  flex-direction: row;
  background: ;
  color: #142f63;
  font-size: 2em;
  grid-area: hd;
  border-bottom: 4px solid #005AA8;
  text-align: center;
  align-items: flex-end;
}
.logo{
  width: 200px;
  align-items: bottom;
  border: 1px solid black;

}
.headertext{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  border: 1px solid black;
  align-items: flex-end;
}
.headertext p2{
  padding: 20px;
  font-size: 80%;
}
aside {
  background: #fa923f;
  grid-area: sidebar;
}
.info{
  background: red;
  grid-area: info;
}
.announcements{
  background: yellow;
  grid-area: anoun;
}
main {
  background: green;
  grid-area: main;
}
.nested{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.nested *{
  border: 1px solid black;
}
.content1, .content2{
  margin-top: 4%;
}
.content3{
}
.content4{
}


footer {
  background: #142f63;
  grid-area: footer;
}

@media only screen and (max-width:550px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "hd"
                         "sidebar"
                         "main"
                         "info"
                         "anoun"
                         "footer";
  }
}

table{
}

td{
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid black;
  text-align: center;
}
