*{
  margin:0;
  box-sizing: border-box;
}
body{
  color:;
}

@font-face { font-family: BasicSans; src: url('../Fonts/basicsanssf.ttf'); }
.container{
  background-color: white;
  width: 85vw;
  height: 150vh;
  font-family: BasicSans, sans-serif;
  margin:auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
  grid-template-rows: .3fr auto .6fr .3fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas: "hd hd hd"
                       "sidebar main main"
                       "info info anoun"
                       "footer footer footer";
}
header {
  display: flex;
  flex-direction: row;
  background: ;
  color: #142f63;
  font-size: 2em;
  grid-area: hd;
  border-bottom: 4px solid #005AA8;
}
header a{
  text-decoration: none;
  color: inherit;
}

.logo{
  display: flex;
  width: 200px;
  align-items: flex-end;
}
.headertext{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: flex-end;
}
.headertext p{
  padding: 1em;
  font-size: 1.5vw;
}
aside {
  background: none;
  grid-area: sidebar;
}
.info{
  padding: 3em;
  background: #fb8501;
  grid-area: info;
}
.infotext{
  display: flex;
  justify-content: flex-start;
  font-size: 1.1vw;
  color: #FFF;
}
.infotext p{
  margin-top: 2%;
}
.announcements{
  background: none;
  border: 4px solid #142f63;
  grid-area: anoun;
  overflow: auto;
}
.nestedAnnounce{
  display: flex;
  justify-content: flex-start;
  padding: .8em;
  border-bottom: 1px solid black;
}

/* width */
.announcements::-webkit-scrollbar {
  width: .4em;
}
/* Track */
.announcements::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
}
/* Handle */
.announcements::-webkit-scrollbar-thumb {
  background: #005AA8;
  border-radius: 10px;
}
/* Handle on hover */
.announcements::-webkit-scrollbar-thumb:hover {
  background: #142f63;
}

main {
  background: none;
  grid-area: main;
  margin-top: .8em;
}
.flexRow{
  display: flex;
  flex-direction: row;
  height: 40%;
}
.flexRow div{
  flex:1;
}
.flexRow div:hover{
  opacity: 0.8;
}

footer {
  background: #142f63;
  grid-area: footer;
}

@media only screen and (max-width:550px){
  .container{
    grid-template-columns: .8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "hd"
                         "main"
                         "info"
                         "anoun"
                         "footer";
  }
  .logo img{
    width:60%;
  }
  .headertext p{
    font-size: 2vw;
    padding: 10px;
  }
  .info{
    padding: 1em;
  }
  .infotext{
    font-size: 1em;
  }
  main{
    margin: 0;
  }
  .flexRow{
    height: 50%;
  }
}

table{
}

td{
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid black;
  text-align: center;
}
